.btn {
    font-size: 1rem;
    cursor: pointer;

    border-radius: 10px;
    padding: 5px;
}

.normal {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    &:hover {
        background-color: var(--black);
        color: var(--white);
    }
}
.sameSize {
    background-color: transparent;
    border: 1px solid #000;
    width: 130px;
    &:hover {
        background-color: var(--black);
        color: var(--white);
    }
}
.addCart {
    background-color: #0765e5;
    color: var(--white);
    border-radius: 5px;
    border: 1px solid #000;
    // width: 60%;
    padding: 5px 50px;
    &:hover {
        background-color: #066cfa;
    }
}
